@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family-pri: "Poppins", sans-serif;
  --font-family-sec: "Big Shoulders Display", sans-serif;
  --pri-clr: #FEFEFE;
  --secondary-clr: #1C1C1C;
  --line-clr: #8B8B8B;
  --marker-clr-sec: #4151E5;
  --marker-clr: #FA8806;
  --tertiary-clr: #25242A;
  --all-transitions: all linear .3s;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
   scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-clr);
  color: var(--pri-clr);
  font-family: var(--font-family-pri);
}

.hero-sec-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/hero-section.webp");
  height: 22vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  font-size: 6em;
}

.hero-sec-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--pri-clr);
  font-weight: 700;
  width: 100%;
  font-family: var(--font-family-sec);
}

.hero-sec-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6em;
  margin: 0 auto;
  padding: 3rem 4%;
  font-size: 4em;
}

.hero-sec-info>div:nth-child(1) {
  font-weight: 600;
  font-size: .5em;
  line-height: 1.2em;
}

.hero-sec-info>div:nth-child(1):hover {
  color: var(--marker-clr);
  transition: var(--all-transitions);
}

.line-breaker {
  width: 100%;
  height: 1px;
  background-color: var(--line-clr);
}

.hero-sec-info>div:nth-child(3) {
  align-self: flex-start;
  font-size: .6em;
}

.hero-sec-info>div:nth-child(3)>span:nth-child(1) {
  font-weight: 600;
  font-size: 1.5em;
  font-family: var(--font-family-sec);
}

.hero-sec-info>div:nth-child(3)>span:nth-child(2) {
  font-weight: 300;
  font-size: .6em;
}

.hero-sec-info>div:nth-child(4) {
  font-size: .4em;
  border: 1px outset var(--line-clr);
  border-left: none;
  background-color: var(--tertiary-clr);
  padding: .5em .5em;
  border-radius: 7px;
  /* box-shadow: 0px 3px 3px 1px var(--line-clr) */
  /* color: var(--line-clr); */
}


.hero-sec-info>div:nth-child(4)>span:nth-child(1) {
  font-family: var(--font-family-sec);
  color: var(--marker-clr);
  font-size: 1.5em;
}

.hero-sec-info>div:nth-child(4)>span:nth-child(3) {
  font-family: var(--font-family-sec);
  color: var(--marker-clr);
  font-size: 1.7em;
}

.what-you-learn-title {
  margin-top: .5em;
  text-align: center;
  font-size: .7em;
  max-width: 80%;
  font-family: var(--font-family-sec);
}

.what-you-learn-title>span {
  color: var(--marker-clr);
  font-weight: 800;
}

.what-you-learn-info {
  text-align: center;
  padding: 0 .5em;
  font-size: .35em;
  color: var(--pri-clr);
}

.highlighter {
  color: var(--marker-clr);
  font-weight: 600;
}

.apply-now-link-2 {
  border-radius: 7px;
  border: 1px solid var(--pri-clr);
  background-color: var(--marker-clr);
  font-size: .4em;
  padding: .3em .4em;
  color: var(--tertiary-clr);
  transition: var(--all-transitions);
  cursor: pointer;
}

.apply-now-link-2:hover {
  background-color: var(--marker-clr-sec);
  color: var(--pri-clr);
}

.apply-now-link-2>a {
  display: inline-block;
  height: 100%;
  width: 100%;
}


#application-form-section {
  text-align: center;
  font-size: 4em;
  background-color: var(--pri-clr);
  color: var(--secondary-clr);
  border: 1px solid var(--pri-clr);
  font-family: var(--font-family-sec);
  padding: .3em 0;
  
}

.application-form-title {
  font-size: .6em;
  font-weight: 800;
  margin-bottom: .5em;
}

#application-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: .3em;
  padding-bottom: .3em;
  max-width: 800px;
  border-radius: 7px;
  width: 90%;
  background-color: var(--tertiary-clr);
  margin: 0 auto;
  color: var(--pri-clr);
}

.form-row-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  font-size: .3em;
  font-family: var(--font-family-pri);
  padding: 1em .5em;
}

.form-row {
  position: relative;
  width: 48%;
}

.form-row-consent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.consent-text {
  text-align: left;
  font-size: .8em;
  line-height: 1em;
}

.input-labels {
  position: absolute;
  top: -80%;
  font-size: .8em;
}

.input-labels-textarea {
  position: absolute;
  top: -40%;
  font-size: .8em;
  width: 100%;
  text-align: left;
}

.form-control {
  width: 100%;
  height: 2em;
  font-size: .8em;
  font-weight: 400;
  padding: 0 .3em;
}

.form-control-textarea {
  min-width: 208%;
  min-height: 4em;
  max-width: 100%;
  max-height: 4em;
  font-size: .8em;
  font-weight: 400;
  padding: 0 .3em;
}

.submit-btn {
  font-size: .35em;
  background-color: var(--marker-clr);
  color: var(--pri-clr);
  border-radius: 5px;
  border: 1px outset var(--pri-clr);
  padding: .3em .5em;
  cursor: pointer;
}

#apply-btn {
  color: var(--marker-clr);
  font-size: 1em;
  border-color: inherit;
  background-color: var(--secondary-clr);
}


.module-section-wrapper {
  text-align: center;
  margin: 1em auto;
  width: 90%;
  font-size: 4em;
}

.module-title {
  font-size: .75em;
  font-family: var(--font-family-sec);
  font-weight: 600;
}

.module-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5em;
  padding-top: .5em;
}

.module-info {
  font-size: .3em;
  width: 45%;
  min-width: 323px;
  padding: 1em 1em 1em 1.5em;
  border: 1px solid var(--line-clr);
  border-radius: 7px;
  text-align: left;
  background-color: var(--tertiary-clr);
  
}

.module-info:hover {
  border-color: var(--marker-clr);
}

.footer-section-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--marker-clr);
  color: var(--secondary-clr);
  padding: 1.2rem 8%;
  font-size: 4em;
}

.f-section-col {
  display: flex;
  flex-direction: column;
  font-size: .3em;
  gap: .5em;
}

.phone {
  align-items: center;
}


@media (max-width: 796px) {
  .hero-sec-wrapper {
    height: 25vw;
    font-size: 4em;
  }

  .hero-sec-info {
    font-size: 3em;
  }

  .module-section-wrapper {
    font-size: 3em;
  }

  .module-info {
    width: 90%;
  }

  .footer-section-wrapper {
    font-size: 3em;
  }
}

@media (max-width: 579px) {
  .hero-sec-wrapper {
    height: 37vw;
    font-size: 2.5em;
  }

  .hero-sec-info {
    font-size: 2.5em;
    padding: 1.5rem 4%;
  }

  .form-row-main {
    flex-direction: column;
    gap: 2em;
  }

  .form-row {
    width: 100%;
  }

  .form-control-textarea {
    min-width: 100%;
  }
}

